@page "/about"

<h1 class="display-6 text-center text-primary">About My Project</h1>

<div style="background-color: #f5f5dc; border-radius: 15px; padding: 20px;">
    <p><strong>Developer:</strong>Shane O'Duda'</p>
    <p><strong>Student Number:</strong>X00182885</p>
    <p>This was project was for my Enterprise App Development CA3</p>
    <p>The Funcionallity of this project is to display a list of crypto currencies with a search bar to filter the list and a view details button that brings you to the details about the currency.</p>
    <p>The Api i chose for this project was the CoinGecko Api.</p>
</div>
