@page "/"

<div class="container text-center mt-5">
    <h1 class="display-6 text-center text-primary">Crypto Checker: Crypto Catalog</h1>
    <p class="lead mt-3">Find the right Crypto for you quick and easy.</p>

    <div style="border-radius: 10px; overflow: hidden; max-width: 100%; margin-bottom: 10px;">
        <img src="/coin.jpg" alt="RAWG API" style="width: 100%; max-height: 400px;">
    </div>

    <section class="mt-5">
        <div style="background-color: #f5f5dc; border-radius: 15px; padding: 10px;">
            <h4><strong>What is Crypto Checker</strong></h4>
            <p>Crypto Checker is a WebApp that uitilizes the CoinGecko API to show you the current tranding crypto stocks.</p>
            <p>It also allows you to search for any crypto currency that you may be looking for.</p>
        </div>

    </section>

    <footer class="mt-5">
        <hr />
        <p class="text-muted">&copy; Shane O'Duda</p>
    </footer>
</div>
